body {
  background-color: lightgreen;
  font-weight: bold;
}

h3 {
  text-align: center;
}

.banner-row {
  height: 100px;
  background: linear-gradient(-45deg, #98D4CD, white);
}

.banner-text {
  padding-top: 22px;
  text-align: center;
}

.gif1 {
  z-index: 2;
  float: left;
}
.gif2 {
  z-index: 2;
  float: right;
}

.back-img {
  position: absolute;
  z-index: -10;
}

.main-row {
  background-color: #E5ffEB !important;
  padding-top: 16px;
  padding-bottom: 20px;
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
  border-width: 2px;
  border-radius: 10px;
}

.second-row {
  height: 200px;
}

.rules-col {
  text-align: center;
}

.input-col {
  text-align: center;
}

.output-col {
  text-align: center;
}

.numbers {

}

ol {
  text-align: center;
}

li {
 font-size: 18px;
 font-weight: bold;
}

.grey-back {
  background-color: lightgrey;
}

.range {
  display: inline-block;
}
