body {
  background-color: lightgreen;
}

h3 {
  text-align: center;
}

.banner {
  height: 100px;
  text-align: center;
}

.banner-text {
  padding-top: 22px;
}

.back-img {
  position: absolute;
  /*height: 100%;*/
  z-index: -10;
}

.row {
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
  border-color: black;
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
}

.main-row {
  padding-top: 16px;
}

.second-row {
  height: 200px;
}

.rules-col {
  text-align: center;
}

.input-col {
  text-align: center;
}

.output-col {
  text-align: center;
}

.numbers {

}

ol {
  text-align: center;
}

li {
 font-size: 20px;
 font-weight: bold;
}

.grey-back {
  background-color: lightgrey;
}
